* {
    font-family: 'Inter', sans-serif;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}
*/
body {
    padding-bottom:0px;
    
}

.grigio-sito {
    color: #7E7E7E
}

.grigio-sito-bg {
    background-color: #7E7E7E
}


#sidebar {
    height: 100vh
}

/*LIKE BUTTON*/

svg {
    cursor: pointer;
    overflow: visible;
    width: 58px;
    #heart

{
    transform-origin: center;
    animation: animateHeartOut .3s linear forwards;
}

#main-circ {
    transform-origin: 29.5px 29.5px;
}

}

#checkbox {
    display: none;
}

    #checkbox:checked + label svg {
        #heart

{
    transform: scale(.2);
    fill: #000000;
    animation: animateHeart .3s linear forwards .25s;
}

#main-circ {
    transition: all 2s;
    animation: animateCircle .3s linear forwards;
    opacity: 1;
}

#grp1 {
    opacity: 1;
    transition: .1s all .3s;
    #oval1

{
    transform: scale(0) translate(0, -30px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

#oval2 {
    transform: scale(0) translate(10px, -50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

}

#grp2 {
    opacity: 1;
    transition: .1s all .3s;
    #oval1

{
    transform: scale(0) translate(30px, -15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

#oval2 {
    transform: scale(0) translate(60px, -15px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

}

#grp3 {
    opacity: 1;
    transition: .1s all .3s;
    #oval1

{
    transform: scale(0) translate(30px, 0px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

#oval2 {
    transform: scale(0) translate(60px, 10px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

}

#grp4 {
    opacity: 1;
    transition: .1s all .3s;
    #oval1

{
    transform: scale(0) translate(30px, 15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

#oval2 {
    transform: scale(0) translate(40px, 50px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

}

#grp5 {
    opacity: 1;
    transition: .1s all .3s;
    #oval1

{
    transform: scale(0) translate(-10px, 20px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

#oval2 {
    transform: scale(0) translate(-60px, 30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

}

#grp6 {
    opacity: 1;
    transition: .1s all .3s;
    #oval1

{
    transform: scale(0) translate(-30px, 0px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

#oval2 {
    transform: scale(0) translate(-60px, -5px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

}

#grp7 {
    opacity: 1;
    transition: .1s all .3s;
    #oval1

{
    transform: scale(0) translate(-30px, -15px);
    transform-origin: 0 0 0;
    transition: .5s transform .3s;
}

#oval2 {
    transform: scale(0) translate(-55px, -30px);
    transform-origin: 0 0 0;
    transition: 1.5s transform .3s;
}

}

#grp2 {
    opacity: 1;
    transition: .1s opacity .3s;
}

#grp3 {
    opacity: 1;
    transition: .1s opacity .3s;
}

#grp4 {
    opacity: 1;
    transition: .1s opacity .3s;
}

#grp5 {
    opacity: 1;
    transition: .1s opacity .3s;
}

#grp6 {
    opacity: 1;
    transition: .1s opacity .3s;
}

#grp7 {
    opacity: 1;
    transition: .1s opacity .3s;
}

}

@keyframes animateCircle {
    40% {
        transform: scale(10);
        opacity: 1;
        fill: #000000;
    }

    55% {
        transform: scale(11);
        opacity: 1;
        fill: #000000;
    }

    65% {
        transform: scale(12);
        opacity: 1;
        fill: #000000;
    }

    75% {
        transform: scale(13);
        opacity: 1;
        fill: transparent;
        stroke: #000000;
        stroke-width: .5;
    }

    85% {
        transform: scale(17);
        opacity: 1;
        fill: transparent;
        stroke: #000000;
        stroke-width: .2;
    }

    95% {
        transform: scale(18);
        opacity: 1;
        fill: transparent;
        stroke: #000000;
        stroke-width: .1;
    }

    100% {
        transform: scale(19);
        opacity: 1;
        fill: transparent;
        stroke: #000000;
        stroke-width: 0;
    }
}

@keyframes animateHeart {
    0% {
        transform: scale(.2);
    }

    40% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes animateHeartOut {
    0% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

/*FORM ACQUISTO*/

.pink.darken-4 {
    background-color: #bbbcbe;
}

.md-calendar .form-check,
.card-form .form-check {
    margin-left: .32rem;
}

.red-checkbox .form-check-input[type=checkbox]:checked {
    background-color: black;
}

.red-checkbox .form-check-input:checked {
    border-color: black;
}

    .red-checkbox .form-check-input:checked:focus:before {
        box-shadow: 0 0 0 13px black;
    }

.card-form .card-form-2 {
    -webkit-border-top-left-radius: 21px;
    border-top-left-radius: 21px;
    -webkit-border-top-right-radius: 21px;
    border-top-right-radius: 21px;
    margin-top: -35px;
}

    .card-form .card-form-2 .pink-accent-text {
        color: black;
    }

.img {
    border-radius: 5px;
}