

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 bg-body-secondary">
            <div class="mb-3 mt-3">
                <p>
                    <button class="btn btn-outline-dark collapsed d-grid gap-2 col-6 mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Indicazioni
                    </button>
                </p>
                <div class="collapse" id="collapseExample" style="">
                    <div class="card card-body">
                        <p><i class="fas fa-home me-3 text-dark"></i> New York, NY 10012, US</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-3 bg-body-secondary">
            <div class="mb-3 mt-3">
                <p>
                    <button class="btn btn-outline-dark collapsed d-grid gap-2 col-6 mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                        Orari di Apertura
                    </button>
                </p>
                <div class="collapse" id="collapseExample2" style="">
                    <div class="card card-body">
                        <p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Lun</th>
                                        <td>09:00/12:30</td>
                                        <td>15:00/19:00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Mar</th>
                                        <td>09:00/12:30</td>
                                        <td>15:00/19:00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Mer</th>
                                        <td>09:00/12:30</td>
                                        <td>15:00/19:00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Gio</th>
                                        <td>09:00/12:30</td>
                                        <td>15:00/19:00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Ven</th>
                                        <td>09:00/12:30</td>
                                        <td>15:00/19:00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Sab</th>
                                        <td>09:00/12:30</td>
                                        <td>15:00/19:00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dom</th>
                                        <td>Chiuso</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-3 bg-body-secondary">
            <div class="mb-3 mt-3">
                <p>
                    <button class="btn btn-outline-dark collapsed d-grid gap-2 col-6 mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        Numeri di Telefono
                    </button>
                </p>
                <div class="collapse" id="collapseExample3" style="">
                    <div class="card card-body">
                        <p><i class="fas fa-phone me-3 text-dark"></i> + 01 234 567 88<br />
                        <i class="fas fa-print me-3 text-dark"></i> + 01 234 567 89</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>