@*<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 bg-body-secondary">
            <div class="mb-3 mt-3">
                <p>
                    <button class="btn btn-outline-dark collapsed d-grid gap-2 col-6 mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Indicazioni
                    </button>
                </p>
                <div class="collapse" id="collapseExample" style="">
                    <div class="card card-body">
                        <p><i class="fas fa-home me-3 text-dark"></i> New York, NY 10012, US</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-3 bg-body-secondary">
            <div class="mb-3 mt-3">
                <p>
                    <button class="btn btn-outline-dark collapsed d-grid gap-2 col-6 mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                        Orari di Apertura
                    </button>
                </p>
                <div class="collapse" id="collapseExample2" style="">
                    <div class="card card-body">
                        <p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Lun</th>
                                        <td>09:00/12:30</td>
                                        <td>15:00/19:00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Mar</th>
                                        <td>09:00/12:30</td>
                                        <td>15:00/19:00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Mer</th>
                                        <td>09:00/12:30</td>
                                        <td>15:00/19:00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Gio</th>
                                        <td>09:00/12:30</td>
                                        <td>15:00/19:00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Ven</th>
                                        <td>09:00/12:30</td>
                                        <td>15:00/19:00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Sab</th>
                                        <td>09:00/12:30</td>
                                        <td>15:00/19:00</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Dom</th>
                                        <td>Chiuso</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-3 bg-body-secondary">
            <div class="mb-3 mt-3">
                <p>
                    <button class="btn btn-outline-dark collapsed d-grid gap-2 col-6 mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                        Numeri di Telefono
                    </button>
                </p>
                <div class="collapse" id="collapseExample3" style="">
                    <div class="card card-body">
                        <p><i class="fas fa-phone me-3 text-dark"></i> + 01 234 567 88<br />
                        <i class="fas fa-print me-3 text-dark"></i> + 01 234 567 89</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@


<div class="container" style="  margin-top: 150px; margin-bottom: 150px;">
    <div class="row">
        <div class="col-md-6"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6047.268253104862!2d-74.00140316185058!3d40.72607015376297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25988b96f8647%3A0x523992653a20942d!2sNew%20York%2C%2010012%2C%20Stati%20Uniti!5e0!3m2!1sit!2sit!4v1686738842798!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        <div class="col-md-6"> 
            <div class="row">
                <div class="col-6">
                    <p>                    
                        Numeri di Telefono
                    </p>                  
                    <p>
                        <i class="fas fa-phone me-3 text-dark"></i> + 01 234 567 88<br />
                        <i class="fas fa-print me-3 text-dark"></i> + 01 234 567 89
                    </p>
                </div>
                <div class="col-6">
                    <p>
                        Indirizzo
                    </p>
                    <p><i class="fas fa-home me-3 text-dark"></i> New York, NY 10012, US</p>
                </div>                    <hr />
                <div class="col-12">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Mattina</th>
                                <th scope="col">Pomeriggio</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Lun</th>
                                <td>09:00/12:30</td>
                                <td>15:00/19:00</td>
                            </tr>
                            <tr>
                                <th scope="row">Mar</th>
                                <td>09:00/12:30</td>
                                <td>15:00/19:00</td>
                            </tr>
                            <tr>
                                <th scope="row">Mer</th>
                                <td>09:00/12:30</td>
                                <td>15:00/19:00</td>
                            </tr>
                            <tr>
                                <th scope="row">Gio</th>
                                <td>09:00/12:30</td>
                                <td>15:00/19:00</td>
                            </tr>
                            <tr>
                                <th scope="row">Ven</th>
                                <td>09:00/12:30</td>
                                <td>15:00/19:00</td>
                            </tr>
                            <tr>
                                <th scope="row">Sab</th>
                                <td>09:00/12:30</td>
                                <td>15:00/19:00</td>
                            </tr>
                            <tr>
                                <th scope="row">Dom</th>
                                <td>Chiuso</td>
                                <td>Chiuso</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
   
        </div>
    </div>

</div>