

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <p>
                <button class="btn btn-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Indicazioni
                </button>
            </p>
            <div class="collapse" id="collapseExample" style="">
                <div class="card card-body">
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                </div>
            </div>
        </div>

    </div>
</div>