@{
    ViewData["Title"] = "Privacy Policy";
}


<div>
    <div class="row justify-content-around">
        <div class="col-md-4">
            <h1 class="display-1 fw-bolder">@ViewData["Title"]</h1>

            <p>Gentile utente, ai sensi della Legge 196 / 2003 (d’ora in avanti “Legge”), e successive modifiche, La informiamo che:</p>
        </div>
    </div>
</div>