@{
    ViewData["Title"] = "Privacy Policy";
}


<div>
    <div class="row justify-content-around">
        <div class="col-md-4">
            <h1 class="display-1 fw-bolder">@ViewData["Title"]</h1>
            <div class="mt-3">
                <p class="fw-light">Gentile utente, ai sensi della Legge 196 / 2003 (d’ora in avanti “Legge”), e successive modifiche, La informiamo che:</p>
                <p class="fw-light">
                    <ul class="fw-light">
                        <li>I dati personali e anagrafici forniti al concessionario all’atto della compilazione del modulo di richiesta informazioni in questa pagina Web sono oggetto di trattamento tramite strumenti automatizzati e manuali, con accesso controllato e secondo le modalità prescritte dalla Legge e relativi regolamenti di attuazione, nel rispetto di tale normativa e degli obblighi di riservatezza ivi previsti;</li>
                        <li>Per trattamento di dati personali ai sensi della Legge, si intende qualunque operazione o complesso di operazioni, svolti con o senza l’ausilio di mezzi elettronici o comunque automatizzati, concernenti la raccolta, la registrazione, l’organizzazione, la conservazione, l’elaborazione, la modificazione, la selezione, l’estrazione, il raffronto, l’utilizzo, l’interconnessione, il blocco, la comunicazione, la diffusione, la cancellazione e la distribuzione di dati;</li>
                        <li>I dati sono trattati per finalità commerciali, connesse o strumentali all’attività del concessionario quali archiviazione nei propri database o per lo svolgimento di attività di direct mailing e/o direct marketing, anche a fini promozionali, per conto proprio nonchè per l’organizzazione di attività secondarie, qual, ad esemio, quiz, giochi a premio, concorsi, ecc…</li>
                        <li>In relazione al trattamento dei dati personali, l’interessato può esercitare, anche a mezzo delega o procura a persona fisica o associazione, i diritti previsti dalla Legge.</li>
                        <li>
                            I dati sono raccolti in un database e potranno essere comunicati ai seguenti soggetti:<br />
                            A. Incaricati del trattamento all’interno del concessionario;<br />
                            B. Partner ai fini di ricerche di mercato;<br />
                            C. Società che svolgono attività strumentali.<br />
                            D. Partner proprietari del sito in cui è stato richiesto il preventivo<br />
                            E. Staff interno al concessionario per espletare la richiesta del cliente (preventivo).<br />
                            L’elenco completo dei soggetti a cui verranno comunicati i dati è disponibile e consultabile presso New York, NY 10012, US.
                        </li>
                        <li>Il titolare del trattamento è il concessionario nella persona del legale rappresentante.</li>
                        <li>Il responsabile del trattamento dei dati è il concessionario;</li>
                        <li>Il trattamento dei dati avviene mediante strumenti idonei a garantirne la sicurezza e la riservatezza a norma del D.P.R. n. 196/2003 con accesso controllato e limitato a soggetti autorizzati. I dati saranno conservati nel database del concessionario presso la sede di INDIRIZZO SEDE per i tempi prescritti dalle norme di legge. </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>