@using WebAppCarrozzeriaAuto.Models.ModelsPerViews
@model ModelloVenditaAutoUtente

<div class="container-fluid py-5 mb-4 d-flex justify-content-center" style="  background-image: url(https://www.sicurauto.it/wp-content/uploads/2022/11/Acquisto-auto-usata.jpg);
            background-position: center;
            background-size:cover;
            background-repeat:no-repeat;
            background-color:#444;
            background-blend-mode: overlay;">
    <div class="p-5 mt-5 lc-block col-xxl-7 col-lg-8 col-12 align-self-center text-center" style="height: 300px;">
        <div class="lc-block">
        </div>
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Grazie per averci scelto!</h1>
            <p>Riceverai una email di conferma da un nostro consulente con tutti i dettagli del preventivo.</p>
        </div>
    </div>
</div>