@using WebAppCarrozzeriaAuto.Models.ModelsPerViews
@model List<Auto>


<div class="container-fluid py-5 mb-4 d-flex justify-content-center" style="  background-image: url('/Assets/img/hans-m-OTnkae1syxk-unsplash.jpg');
            background-position: center;
            background-size:cover;
            background-repeat:no-repeat;
            background-color:#444;
            background-blend-mode: overlay;">
    <div class="p-5 mt-5 lc-block col-xxl-7 col-lg-8 col-12 align-self-center text-center" style="height: 300px;">
        <div class="lc-block">
            <div editable="rich">
                <h2 class="fw-bolder display-3" style="color: white;">Le nostre auto</h2>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        @foreach (Auto auto in Model)
        {
            <div class="col-6">


                <div class="card border rounded-0">
                    <img src="@auto.UrlImmagine" class="card-img-top" width="100%">
                    <div class="card-body pt-0 px-0 mt-3">
                        <div class="d-flex flex-row justify-content-between mb-0 px-3 mt-3">
                            <div class="d-flex flex-column"><span class="text-muted">Nome modello</span></div>
                            <div class="d-flex flex-column"><h5 class="mb-0">@auto.NomeModello</h5></div>
                        </div>
                        <hr class="mt-2 mx-3">
                        <div class="d-flex flex-row justify-content-between mb-0 px-3 mt-3">
                            <span class="text-muted mt-1">Prezzo</span>
                            <h6>&euro;@auto.Prezzo</h6>
                        </div>
                        <hr class="mt-2 mx-3">
                        <div class="d-flex flex-row justify-content-between px-3 pb-4">
                            <div class="d-flex flex-column"><span class="text-muted">Tipo auto</span></div>
                            <div class="d-flex flex-column"><h5 class="mb-0"></h5></div>
                        </div>
                        <div class="d-flex flex-row justify-content-between p-3 mid">
                            <div class="d-flex flex-column"><small class="text-muted mb-1">SPECIFICHE</small><div class="d-flex flex-row"><img src="https://imgur.com/iPtsG7I.png" width="35px" height="25px"><div class="d-flex flex-column ml-1 align-self-center"><small class="ghj">@auto.Descrizione</small></div></div></div>
                            <div class="d-flex flex-column"><small class="text-muted mb-2">COLORE</small><div class="d-flex flex-row"><img src="https://imgur.com/J11mEBq.png"><h6 class="align-self-center ml-1">@auto.Colore</h6></div></div>
                        </div>
                        <div class="mx-3 mt-3 mb-2 text-center"><button type="button" class="btn btn-outline-dark"><small>VISUALIZZA</small></button></div>
                    </div>
                </div>

            </div>
        }
    </div>

    <div class="col-4 text-bg-secondary">
        <form asp-controller="Auto" asp-action="Index" asp-route-id="Id" method="post" class="p-5">
                <div class="mb-3">
                    <label  class="form-label">Marca</label>
                    <input  type="text" class="form-control" />
                    <span   class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Modello</label>
                    <input  type="text" class="form-control" />
                    <span   class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Tipo</label>
                    <input  type="text" class="form-control" />
                    <span   class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Anno di Immatricolazione</label>
                    <input  type="number" class="form-control" />
                    <span   class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Kilometraggio</label>
                    <input  type="number" class="form-control" />
                    <span   class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Alimentazione</label>
                    <input  type="number" class="form-control" />
                    <span   class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label   class="form-label">Stato Macchina</label>
                    <select  class="form-select" aria-label="Usata?">
                        <option value="True" selected>Usata</option>
                        <option value="False">Nuova</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

