@using WebAppCarrozzeriaAuto.Models.ModelsPerViews
@model Auto

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form asp-controller="Admin" asp-action="ModifyAuto" asp-route-id="@Model.Id" method="post" class="p-5">
                @Html.AntiForgeryToken()
                <div class="mb-3">
                    <label asp-for="MarcaAuto" class="form-label">Descrizione</label>
                    <textarea asp-for="MarcaAuto" 10" class="form-control" required></textarea>
                    <span asp-validation-for="MarcaAuto" text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="NomeModello" class="form-label">Nome Modello</label>
                    <input asp-for="NomeModello" rows="10" class="form-control" required>
                    <span asp-validation-for="NomeModello" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="TipoAuto" class="form-label">Descrizione</label>
                    <textarea asp-for="TipoAuto" 10" class="form-control" required></textarea>
                    <span asp-validation-for="TipoAuto" text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Descrizione" class="form-label">Descrizione</label>
                    <textarea asp-for="Descrizione"10" class="form-control" required></textarea>
                    <span asp-validation-for="Descrizione"text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="UrlImmagine" class="form-label">URL Immagine</label>
                    <input asp-for="UrlImmagine" type="text" class="form-control" required>
                    <span asp-validation-for="UrlImmagine" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Colore" class="form-label">Colore</label>
                    <input asp-for="Colore" type=" text" class="form-control" required>
                    <span asp-validation-for="Colore" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Kilometraggio" class="form-label">Kilometraggio</label>
                    <input asp-for="Kilometraggio" type="number" class="form-control" required>
                    <span asp-validation-for="Kilometraggio" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Prezzo" class="form-label">Prezzo</label>
                    <input asp-for="Prezzo" type="number" class="form-control" required>
                    <span asp-validation-for="Prezzo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="AnnoImmatricolazione" class="form-label">Anno di immatricolazione</label>
                    <input asp-for="AnnoImmatricolazione" type="number" class="form-control" required>
                    <span asp-validation-for="AnnoImmatricolazione" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="NumeroAutoNelConcessionario" class="form-label">Numero di Auto Disponibili Nel Concessionario</label>
                    <input asp-for="NumeroAutoNelConcessionario" type="number" class="form-control" required>
                    <span asp-validation-for="NumeroAutoNelConcessionario" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="AnnoInizioProduzione" class="form-label">Anno di inizio produzione</label>
                    <input asp-for="AnnoInizioProduzione" type="number" class="form-control" required>
                    <span asp-validation-for="AnnoInizioProduzione" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="AnnoFineProduzione" class="form-label">Anno di fine produzione</label>
                    <input asp-for="AnnoFineProduzione" type="number" class="form-control" required>
                    <span asp-validation-for="AnnoFineProduzione" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <select asp-for="Usata" class="form-select" aria-label="Usata?">
                        <option value="true" selected>Usata</option>
                        <option value="false">Nuova</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Salva</button>
            </form>
        </div>
    </div>
</div>