@using WebAppCarrozzeriaAuto.Models.ModelsPerViews
@model ModelloMacchinaCreateUpdate

<div class="container text-bg-light mt-5">
    <form asp-controller="Admin" asp-action="ModifyAuto" asp-route-id="@Model.Auto.Id" method="post" class="p-5">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="Auto.NomeModello" class="form-label">Nome Modello</label>
            <input asp-for="Auto.NomeModello" rows="10" class="form-control" required>
            <span asp-validation-for="Auto.NomeModello" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Auto.UrlImmagine" class="form-label">Descrizione</label>
            <input asp-for="Auto.UrlImmagine" rows="10" class="form-control" required>
            <span asp-validation-for="Auto.UrlImmagine" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Auto.Descrizione" class="form-label">Descrizione</label>
            <textarea asp-for="Auto.Descrizione" class="form-control" required></textarea>
            <span asp-validation-for="Auto.Descrizione"text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Auto.UrlImmagine" class="form-label">URL Immagine</label>
            <input asp-for="Auto.UrlImmagine" type="text" class="form-control" required>
            <span asp-validation-for="Auto.UrlImmagine" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Auto.Colore">Colore</label>
            <input asp-for="Auto.Colore" type="text" class="form-control" />
            <span asp-validation-for="Auto.Colore" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Auto.Prezzo" class="form-label">Prezzo</label>
            <input asp-for="Auto.Prezzo" type="text" class="form-control" required>
            <span asp-validation-for="Auto.Prezzo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Auto.AnnoInizioProduzione" class="form-label">Anno Inizio Produzione</label>
            <input asp-for="Auto.AnnoInizioProduzione" type="text" class="form-control" required>
            <span asp-validation-for="Auto.AnnoInizioProduzione" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Auto.AnnoFineProduzione" class="form-label">Anno fine produzione (se ce ne è uno)</label>
            <input asp-for="Auto.AnnoFineProduzione" type="text" class="form-control" required>
            <span asp-validation-for="Auto.AnnoFineProduzione" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Auto.AnnoImmatricolazione" class="form-label">Anno di immatricolazione</label>
            <input asp-for="Auto.AnnoImmatricolazione" type="text" class="form-control" required>
            <span asp-validation-for="Auto.AnnoImmatricolazione" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Auto.NumeroAutoNelConcessionario" class="form-label">Numero di Auto Disponibili Nel Concessionario</label>
            <input asp-for="Auto.NumeroAutoNelConcessionario" type="text" class="form-control" required>
            <span asp-validation-for="Auto.NumeroAutoNelConcessionario" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Auto.AnnoInizioProduzione" class="form-label">Anno di inizio produzione</label>
            <input asp-for="Auto.AnnoInizioProduzione" type="text" class="form-control" required>
            <span asp-validation-for="Auto.AnnoInizioProduzione" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Auto.AnnoFineProduzione" class="form-label">Anno di fine produzione</label>
            <input asp-for="Auto.AnnoFineProduzione" type="text" class="form-control" required>
            <span asp-validation-for="Auto.AnnoFineProduzione" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <select asp-for="Auto.Usata" class="form-select" aria-label="Usata?">
                <option value="true" selected>Usata</option>
                <option value="false">Nuova</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Salva</button>
    </form>
</div>