

<div class="container">
    <div class="row d-flex">
        <div class="col-12">
            <h1 class="mb-5 mt-3 text-center">Benvenuto nel pannello admin!</h1>
            <p class="text-center">
                Da qui puoi aggiungere e acquistare, dai tuoi fornitori, auto
            </p>
        </div>
    </div>
 
    <div class="row d-flex justify-content-center mt-4">
        <h3 class="text-center mb-3"></h3>
            <div class="col-4 @*bg-dark bg-opacity-25*@ " @*id="sidebar"*@ @*style=" height: 100vh"*@>
               <div >
                   <h1 class="pt-2">Istruzioni</h1>
                   <p class="pt-2">
                      Benvenuto nel pannello admin! Qui potrai gestire il database delle auto, delle vendite, aggiungere o eliminare automobili. Scegli tra una delle azioni tramite i pulsanti qui a lato.  
                   </p>
               </div>
           </div>
            <div class="col-4 text-center mb-4 d-grid gap-2 mt-4 pt-5" style="height: 10vh">
                <a type="button" class="btn btn-primary" @*style="padding-right: 150px; padding-left: 150px;"*@ href="@Url.Action("CreateAuto", "Admin")">Clicca qui per aggiungere un'auto</a>
                <a href="@Url.Action("ListaMacchineAdmin", "Admin")" type="button" class="btn btn-success" @*style="padding-right: 150px; padding-left: 150px;"*@>Vai alla lista di macchine per admin!</a>
            </div>
       

    
    </div>

</div>