

<div class="container">
    <div class="row d-flex">
        <div class="col-12">
            <h1 class="mb-5 mt-3 text-center">Benvenuto nel pannello admin!</h1>
            <p class="text-center">
                Da qui puoi modificare, aggiungere e rimuovere auto, tipi di auto, marche e modelli.
                Puoi anche procedere all'acquisto di auto da mettere in inventario o di macchine già presenti.
            </p>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-4">
        <h3 class="text-center mb-3">Aggiungi</h3>
        <div class="col-12 text-center mb-4">
            <a type="button" class="btn btn-primary" style="padding-right: 150px; padding-left: 150px;" href="@Url.Action("CreateAuto", "Admin")">Auto</a>
        </div>
        <div class="col-12 text-center">
            <div class="mt-4">
                <p class="text-center">Per modificare/eliminare o acquistare macchine presenti nel concessionario, vai alla lista di macchine per admin!</p>
                <a href="@Url.Action("ListaMacchineAdmin", "Admin")" type="button" class="btn btn-success" style="padding-right: 150px; padding-left: 150px;">Vai alla lista di macchine per admin!</a>
            </div>
        </div>
    </div>
   
</div>